<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1065566696104-8ut3pu3ha98mpv0jeqv3o4h2jhug66p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065566696104-8ut3pu3ha98mpv0jeqv3o4h2jhug66p9</string>
	<key>API_KEY</key>
	<string>AIzaSyDHjMVEXLqJXOB1TAIa6p1-_v5fk1ZUhog</string>
	<key>GCM_SENDER_ID</key>
	<string>1065566696104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Lab10-Firebase-Bill</string>
	<key>PROJECT_ID</key>
	<string>snapchatbill2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatbill2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065566696104:ios:3ce98705c969570f</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatbill2.firebaseio.com</string>
</dict>
</plist>